.container
  %h1 検体データ 新規登録

  / パンくず
  %nav.breadcrumbs
    = link_to "事業場一覧", plants_path
    %span ›
    = link_to @plant.name, plant_path(@plant)
    %span ›
    %span 新規登録

  = render 'form', plant: @plant, sample: @sample