@import 'variables';

.form_wrapper {
  margin-top: 32px;
}

form {

  label {
    display: inline-block;
    width: 160px;
    text-align: right;
    padding: 4px 10px;
  }

  input[type='text'],
  textarea {
    width: 580px;
    font-size: $font-normal;
  }

  input[type='date'],
  input[type='time'] {
    font-size: $font-normal;
  }

  textarea {
    height: 100px;
    font-weight: 400;
    font-family: "Noto Sans JP", sans-serif;
    color: inherit;
  }

  input[type='submit'] {
    border: none;
  }
}

.form-group {
  display: flex;
  padding: 10px 10px;
}

.form-actions {
  text-align: center;
}