.header {
  padding: 16px;
  background-color: #083862;
  width: 100vw;
  padding-inline: calc((100vw - 768px) / 2);
  position: fixed;
  top: 0;
  left: 0;
}

.header_title-link {
  display: block;
  width: 470px;
  transition: opacity 0.3s ease;
  
  &:hover {
    opacity: 0.7;
  }
}

.header_title{
  color: #FFF;
  font-size: 24px;
}