// show
.result_header {
  display: flex;
  justify-content: space-between;
}
.result_status {
  margin-top: 12px;
  width: 160px;
  text-align: center;
  padding: 6px 8px;
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
  border-radius: 4px;
  background: #959595;

  &.requested {
    background: #ff821c;
  }

  &.approved {
    background: #13d484;
  }

  &.rejected {
    background: #d44013;
  }
}

.result_subtitle {
  margin-top: 24px;
}

.result_recent_results {
  margin-top: 8px;
  padding: 16px;
  background-color: #FFF;
  border-radius: 6px;
}

.result-recent_results_table-wrapper {
  padding: 8px 16px;
  display: flex;
  gap: 16px;

}

.result-recent_results_table,
.result-recent_min-max-table {
  border-collapse: collapse;

  th,
  td {
    border: 1px solid #333;
    padding: 2px 4px;
    width: 100px;

    &:nth-child(2) {
      width: 180px;
    }
  }
  
  td {
    text-align: right;
  }
}

.result-recent_min-max-table {
  margin-bottom: auto;
}

.result_chart {
  background-color: #FFF;
  padding: 16px;
  border-radius: 6px;
  margin-top: 24px;
}


// form

.result-form_test_item_select {
  width: 200px;
}

.result-form_value_input {
  width: 200px;
}

.result-form_unit-wrapper {
  margin-left: 8px;
}

.result_approval-title {
  margin-top: 24px;
}

.result_approval {
  border-bottom: 1px solid #959595;
  margin-top: 4px;
  padding: 4px 8px;
}

.result_approval-wrapper {
  display: flex;
  gap: 10px;
}

.result_approvals-date {
  width: 120px;
}

.result_approvals-action {
  width: 100px;
}

.result_approvals-comment {
}