@import 'variables';

// sample#index
.samples_header {
  display: flex;
  justify-content: space-between;
}

.samples_samples {
  margin-top: 32px;
  padding: 16px 32px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.samples_sample {
  font-size: 20px;
  padding: 2px;
  border-bottom: 1px solid #EEE;
  margin-top: 4px;
  color: #0a66b6;
  a {
    display: flex;
    gap: 16px;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

// sample#show
.sample_header {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.sample_header-buttons {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.sample-table_wrapper {
  background-color: #FFF;
  padding: 16px 32px;
  border-radius: 8px;
  margin: 32px 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.sample-table {
  th {
    text-align: right;
    padding-right: 16px;
  }
}

.sample-table_date {
  font-size: 24px;
  font-weight: 700;
}

.sample-results_wrapper {
  background-color: #FFF;
  padding: 16px 32px;
  border-radius: 8px;
  margin: 32px 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.sample_results-header {
  display: flex;
  justify-content: space-between;

  .btn {
    margin: 0;
  }
}

.sample_results {
  padding: 32px 0;
}

.sample_result {
  display: flex;
  gap: 10px;
  text-align: center;
  padding: 8px 0;
  border-bottom: 1px solid $text-gray-color;
}

.violated {
  color: red;
}

.sample_result-heading {
  font-weight: 700;

  .sample-result_buttons {
    display: block;
  }
}

.sample-result_name {
  width: 160px;
}

.sample-result_value {
  width: 80px;
}

.sample-result_unit {
  width: 60px;
}

.sample-result_detection_limit {
  width: 90px;
}

.sample-result_standard_min {
  width: 90px;
}

.sample-result_standard_max {
  width: 90px;
}

.sample-result_buttons {
  width: 136px;
  display: flex;
  gap: 6px;
}

.sample-chart {
  display: block;
  width: 32px;
  padding-top: 2px;
}

.sample-edit {
  display: block;
  width: 32px;
}

.sample-delete {
  display: block;
  width: 22px;
  padding-top: 4px;
}


// samples#new

.samples_form-wrapper {
  position: relative;
}

#sample_plant_id {
  appearance: none;
  pointer-events: none;
  background: none;
  border: none;
  font-size: 16px;
  padding: 8px;
}

.samples_form-plant-field {
  display: flex;
  gap: 10px;
}

.samples_plants-search-container {
  width: 200px;
  height: 33px;
}

// search
.samples_plants-search_wrapper {
  content: '';
  position: absolute;
  top: 10px;
  left: 170px;
  width: 200px;

  input[type='search'] {
    width: 200px;
  }
}

.samples_plants-search_drop-down {
  width: 300px;
  padding: 8px;
  background: #ffffff;
  color: #09579a;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.samples_drop-down_plant {
  padding: 2px 0;
  transition: opacity 0.3s ease;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
