.users_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users_text {
  margin-top: 16px;
}

.users_users {
  margin-top: 32px;
  padding: 16px 16px 32px;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.users_user {
  display: flex;
  gap: 12px;
  padding: 8px 16px;
  border-bottom: 1px solid #9B9B9B;

  &.color_false {
    color: rgb(161, 161, 161);
  }
}

.users-user_heading {
  font-weight: 700;
  text-align: center;
}

.user_name {
  width: 120px;
}

.user_email {
  width: 300px;
}

.user_admin {
  width: 120px;
  text-align: center;
}

.user_actions {
  width: 80px;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.user-edit {
  display: block;
  width: 32px;
}

.user-delete {
  display: block;
  width: 22px;
  padding-top: 4px;
}

// form

.form-user.form-common {

  .user-form_text {
    width: 300px;
  }

  .user-form_radio{
    margin-left: 8px;
    transition: opacity 0.3s ease;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  .user-form_label-radio {
    text-align-last: left;
    transition: opacity 0.3s ease;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}