.container
  .users_header
    %h1.users-header_title ユーザー一覧
    .users-header_btn
      = link_to '新規作成', new_admin_user_path, class: "btn btn-new", data: { turbo_frame: 'modal' }
  %p.users_text 管理者権限がtrueでなければこのページにアクセスできません。権限は編集画面で付与できます。
  .users_users
    .users-user_heading.users_user
      .user_name 名前
      .user_email メールアドレス
      .user_admin 管理者権限
      .user_actions 操作
    %div#users
      - @users.each do |user|
        = render 'user', user: user
  .actions
    = link_to "戻る", root_path, class: "btn btn-show"
  
  .div-comment
    %p sign_upで作成されたユーザーデータの一覧です。
    %p このページの新規作成からユーザーデータを作成することもできます。
    %p sign_upしたときのデフォルトのログイン権限はfalseです。
    %p 基本的に権限のある者からの招待で使用することを想定しています。